<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackComposeComponent"
        tools:targetApi="31">
        <activity
            android:name=".JetpackCompose.JetpackCompose"
            android:exported="false" />

        <activity
            android:name=".component.navigationcomposable.ui.NavigationComposableActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PizzaApp.PizzaAppActivity"
            android:exported="false" />
        <activity
            android:name=".component.DocumentBank.DocumentBankActivity"
            android:exported="false" />
        <activity
            android:name=".CommonActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".component.bottomsheet.BottomSheetActivity"
            android:exported="false" />
        <activity
            android:name=".component.navigation.bottomnavigation.BottomNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".component.navigation.navigationwithvoyager.NavigationWithVoyagerActivity"
            android:exported="false" />
        <activity
            android:name=".component.navigation.navigation.NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".component.navigation.navigation.DestinationActivity"
            android:exported="false" />
        <activity
            android:name=".viewpager.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".component.statemanagement.StateActivity"
            android:exported="true" />
        <activity
            android:name=".ToDoApp.ui.ToDoActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".Retrofit.ui.RetrofitActivity"
            android:exported="false" />
        <activity
            android:name=".component.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.JetpackComposeComponent">

        </activity>
        <activity
            android:name=".component.LoginActivity"
            android:exported="false">

        </activity>
    </application>

</manifest>